<div class="container">
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-3">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="../../../assets/img/ocp.png" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Operations Control Panel</h5>
          <p class="card-text">The quick and easy way we handle our daily business. Make operations great again.</p>
          <button class="btn btn-primary" type="button" (click)="navigate('ocp')">OCP</button>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="../../../assets/img/dcp.png" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Delivery Control Panel</h5>
          <p class="card-text">Order and sell the shit Selgros can't. We make our money based on your stupidity. ¯\_(ツ)_/¯</p>
          <a href="http://unibuy-sales.de/tools/dcp" class="btn btn-primary">DCP</a>
        </div>
      </div>
    </div>
    <div class="col-md-3"></div>
  </div>
</div>
