<div class="container">
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-3">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="../../assets/img/checktable.png" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Überprüfung</h5>
          <p class="card-text">Gibt es Probleme mit Bestellungen, dann tauchen sie hier auf.</p>
          <button class="btn btn-primary" type="button" (click)="navigate('checktable')">OCP</button>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="../../../assets/img/picklisten.png" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Picklisten</h5>
          <p class="card-text">Erstellung und Bearbeitung von Picklisten.</p>
          <button class="btn btn-primary" type="button" (click)="navigate('picklists')">OCP</button>
        </div>
      </div>
    </div>
  </div>
</div>
